<div class="container">
   <div class="header">
     <h1>Selectionner votre application</h1>
   </div>
 
   <div class="categories">
  
 
     <div class="category">
       <h3>VENTES</h3>
       <div class="apps-grid">
         <div class="app">
           <img src="assets/product.png" alt="CRM">
           <span>Produits</span>
           <input type="radio" name="ventes" />
         </div>
         <div class="app">
            <img src="assets/crm.png" alt="CRM">
            <span>CRM</span>
            <input type="radio" name="ventes" />
          </div>
         <div class="app">
           <img src="assets/sale.png" alt="Ventes">
           <span>Ventes</span>
           <input type="radio" name="ventes" />
         </div>
         <div class="app">
            <img src="assets/achat.png" alt="Facturation">
            <span>Achats</span>
            <input type="radio" name="ventes" />
          </div>
          <div class="app">
            <img src="assets/stock.png" alt="Facturation">
            <span>Stocks</span>
            <input type="radio" name="ventes" />
          </div>
         <div class="app">
           <img src="assets/facturation.png" alt="Facturation">
           <span>Facturation</span>
           <input type="radio" name="ventes" />
         </div>
      
       </div>
       <div class="apps-grid">
         
       </div>
     </div>
 
 
   </div>
 </div>
 