<header class="navbar">
    <div class="navbar-left">
    
      <nav class="navbar-menu">
       <div>
          <div role="presentation">
             <div class="div-menu">
                <button class="btn-menu" >
                   <span style="color: red;font-size: 18px;font-weight: bold;">INTELLECT</span>
                </button>
             </div>
            
          </div>
       </div>
       <div>
          <div role="presentation">
             <div class="div-menu">
                <button class="btn-menu" >
                   <span>Formulaires</span>
                </button>
             </div>
            
          </div>
       </div>
       <div>
        <div role="presentation">
           <div class="div-menu">
              <button class="btn-menu" >
                 <span>Configuration</span>
              </button>
           </div>
          
        </div>
     </div>
       <div>
          <div role="presentation">
             <div class="div-menu">
                <button class="btn-menu" >
                   <span>Rapports</span>
                </button>
             </div>
            
          </div>
       </div>
       <div>
          <div role="presentation">
             <div class="div-menu">
                <button class="btn-menu" >
                   <span>Admnistration</span>
                </button>
             </div>
            
          </div>
       </div>
 
      </nav>
    </div>
    <div class="navbar-right">
       <button class="btn primary-btn">Se déconnecter</button>
       <button class="btn primary-btn">Se connecter</button>
       <span class="icon">🔔</span>
       <div class="notification">
          <span class="icon">🔔</span>
          <span class="badge">3</span> 
      </div>
    </div>
  </header>
 
 
  
  